/* CARD */
/* .content-wrapper {
  @apply mx-auto max-w-4xl w-full px-4
  lg:max-2xl:px-0 lg:max-2xl:w-2/3 2xl:w-1/2;
} */
.card-wrapper {
  @apply rounded-lg shadow-md shadow-coGray2 border-2 border-coGray1
      py-6 px-8 max-w-6xl mx-auto;
}
.card-wrapper h2 {
  @apply text-center font-semibold text-2xl pb-4;
}
.disabled-card {
  @apply pointer-events-none opacity-50 border-4 border-coRed;
}

/* TAG */
.myTag {
  @apply bg-coWhite text-coGray4
  border-coGray4 hover:bg-coGray4 hover:text-coWhite
  border-2 rounded-2xl p-1 md:px-4 md:py-[2px] flex flex-row w-fit
  text-xs md:text-sm
  justify-center items-center cursor-pointer transition-all
  before:content-['#'] before:relative before:right-[4px] md:before:right-[8px];
}
.myTag {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.myTag2Light {
  @apply bg-coBlue1 text-coWhite
  border-coBlue1 hover:bg-coWhite hover:text-coBlue1;
}
.myStatus {
  @apply text-coGray4
  text-xs md:text-sm
  before:content-['#'] before:relative before:right-[4px] md:before:right-[8px]
  justify-center items-center;
}

.myStatus-active {
  @apply text-coBlue1
  text-xs md:text-sm
  before:content-['#'] before:relative before:right-[4px] md:before:right-[8px]
  justify-center items-center;
}

/* BUTTON */
/* BUTTON */
.btn {
  @apply cursor-pointer 
  text-base lg:max-2xl:text-2xl
  flex flex-row justify-center items-center
  py-2 px-4 w-full mx-auto border-2 rounded-md
  transition-all uppercase;
}
.btn-shape {
  @apply cursor-pointer 
  p-2 lg:p-4
  flex flex-row justify-center items-center gap-3
  w-full mx-auto border-2 border-b-8 rounded-2xl
  transition-all uppercase font-semibold;
}
.btn-shape-main {
  @apply border-coBlue1 text-coBlue1
  hover:bg-coCyan;
}
.btn-shape-main-active {
  @apply border-coBlue1 text-coBlue1
  bg-coBlue3;
}

.btn-shape-submit {
  @apply border-coPink text-coPink
  hover:bg-coPink2;
}
.btn-shape-ghost {
  @apply border-coGray2 text-coGray2
  hover:bg-coGray6;
}
.btn-shape-try {
  @apply border-coGreen text-coGreen
  hover:bg-coGreen2;
}
.btn-shape-video {
  @apply border-coRed text-coRed
  hover:bg-coRed2;
}

.btn-shape-disabled {
  @apply bg-coGray5 border-coGray2
  cursor-not-allowed opacity-70 relative;
}

.btn-shape-back {
  @apply cursor-pointer font-semibold
  flex flex-row justify-center items-center no-underline
  w-fit border-2 border-b-4 rounded-l-3xl rounded-r-md
  transition-all border-coGray2 text-coGray2
  hover:bg-coGray6 absolute top-2 right-2
  p-1 text-xs md:text-sm lg:text-base;
}
.btn-submit {
  @apply border-coPink !bg-coPink !text-coWhite
  hover:!bg-coWhite hover:!text-coPink;
}
.btn-main {
  @apply border-coBlue1 !bg-coBlue1 !text-coWhite
  hover:!bg-coWhite hover:!text-coBlue1;
}
.btn-ghost {
  @apply border-coGray6 !bg-coGray6 !text-coWhite
  hover:!bg-coWhite hover:!text-coGray6 
  text-sm;
}

.option-item {
  @apply py-1 px-3 lg:py-2 lg:px-4
   rounded-md border-2 border-coBlue1 text-coBlue1 bg-coWhite
   hover:text-coWhite hover:bg-coBlue1 cursor-pointer shadow-md;
}
.option-item-selected {
  @apply py-1 px-3 lg:py-2 lg:px-4
   rounded-md border-2 border-coBlue1 text-coWhite bg-coBlue1 cursor-pointer;
}

/* CÁC PHẦN PHỤ TRONG THẺ RENDER DẠNG BÀI */
.line-white {
  @apply border-coWhite border-2;
}
.line-gray {
  @apply border-coGray4 border-2;
}

.guide-text {
  @apply italic text-coRed text-lg lg:max-2xl:text-xl 2xl:text-2xl;
}
.error-text {
  @apply bg-coRed text-coWhite italic text-center;
}

.items-picker-wrapper {
  @apply p-4 rounded-lg bg-coGray7
  flex flex-row flex-wrap gap-4;
}

.item-tag {
  @apply flex flex-row  shrink-0 gap-2 transition-all
  items-center px-3 py-2 rounded-lg cursor-pointer
  text-coBlue2 border-2 border-coBlue2
  hover:shadow-md hover:bg-coBlue2 hover:text-coWhite
  text-sm md:text-base lg:text-xl;
}
.item-tag-active {
  @apply bg-coBlue2 text-coWhite
  flex flex-row  shrink-0 gap-2 transition-all
  items-center px-3 py-2 rounded-lg cursor-pointer
  border-2 hover:shadow-md text-base md:text-xl lg:text-2xl;
}
.item-tag-disabled {
  @apply flex flex-row  shrink-0 gap-2 text-sm md:text-base lg:text-xl
  items-center px-3 py-2 rounded-lg cursor-not-allowed
  text-coGray3 border-2 border-coGray3 bg-coGray6;
}

/* ICONs */
.icon-wrapper {
  @apply relative w-8 h-8
  flex flex-row flex-wrap justify-center items-center
  md:max-lg:w-12 md:max-lg:h-12 lg:w-14 lg:h-14;
}
.button-title-responsive {
  @apply font-semibold uppercase text-center
  hidden lg:block;
}
